.body {
    overflow-y: hidden;
}

html {
    background-color: grey;
    overflow-y: hidden;
}

.car {
    position: absolute;
    bottom: 0px;
    width: 60px;
    margin: auto;
    height: 80px;
    /* background-color: cadetblue; */
    /* background-image: url('./assets/car2.png'); */
}

.game {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grass {
    background-color: #ABB328;
    display: flex;
    width: 600px;
    height: 500px;
    justify-content: center;
}

.gameArea {
    background-color: black;
    width: 300px;
    height: 500px;
    position: absolute;
    margin: 0 auto;
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    /* left: 42%; */
}

.hide {
    display: none;
}

.line {
    position: absolute;
    /* height: 80px; */
    width: 7px;
    background-color: white;
}

.bush1 {
    position: relative;
    /* clip-path: inset(0px 0px 10px 0px); */
}