.body {
    overflow-y: hidden;
}

html {
    background-color: grey;
    overflow-y: hidden;
}

.car {
    position: absolute;
    bottom: 0px;
    width: 60px;
    margin: auto;
    height: 80px;
    /* background-color: cadetblue; */
    /* background-image: url('./assets/car2.png'); */
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grass {
    background-color: #ABB328;
    display: flex;
    position: absolute;
    top: 10%;
    width: 600px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
}


.gameArea {
    background-color: black;
    width: 200px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    /* left: 42%; */
}



.line {
    position: absolute;
}

.modal {
    z-index: 1;
    top: 10%;
    width: 600px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}




.modalContent {
    /* margin: auto 20%; */
    justify-content: center;
    text-align: center;
    height: 45%;
    width: 400px;
    padding: auto;
    background-color: #FDF2D4;
    border-radius: 25px;
}

.modalContent label {
    font-size: 20px;
}

.modalContent input[type="range"] {
    width: 180px;
    height: 16px;
    outline: none;
    background: none;
}

.modalTitle {
    color: #0f0f4b;
    width: 100%;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBtnWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.modalBtn {
    background-color: #C7DC3C;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 300;
    border-radius: 25px;
    height: 35px;
    width: 40%;
    margin: auto 3%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBtn:hover {
    cursor: pointer;
    color: #0f0f4b;
    background-color: #c7dc3ca8;
    border: 3px solid #0f0f4b;
}


.tips {
    margin-top: 0px;
    height: 45%;
    width: 85%;
    line-height: 20px;
}

.endModal {
    z-index: 1;
    top: 10%;
    width: 600px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.endModalContent {
    /* margin: auto 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 400px;
    padding: auto;
    background-color: #FDF2D4;
    border-radius: 25px;
}

.endModalTitle {
    color: #0f0f4b;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endModalBtnWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 10%;
}

.scorebar {
    background-color: #FDF2D4;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 300;
    border-radius: 25px;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 475px;
    height: 25px;
    width: 90px;
    margin: auto 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}