@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* 加入一些基本的樣式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #adb1ac;
}

.hide {
  display: none;
}
/* 設置問題區域的樣式 */
#question {
  margin: 20px;
}

/* 設置答案區域的樣式 */
#answer {
  margin: 20px;
}
.the_titles {
  margin: auto;
	max-width: 800px;
  padding: 20px 0px 0px 0px;
  font-family: "cwTeXFangSong", serif;
}

#pic_identify{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.start {
	margin: auto;
	padding: 20px;
	max-width: 600px;
	text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #E3E8EF;
}

.container {
	margin: auto;
	padding: 20px;
	max-width: 600px;
	text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #E3E8EF;
}

h1 {
	margin-bottom: 30px;
}


.pic {
  width: 500px;
  height: 350px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  max-width: 100%;
  max-height: 100%;
}


dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}
dialog button {
  margin: 8px auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.cookie-card {
  max-width: 320px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  /*  */
  width: 300px;
  height: 300px;
  position: relative;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
